{% extends "base.html"%} {% load crispy_forms_tags %} {% load static %}
{% block title %}Email Sent{% endblock %} {% block content %} {% block css %}
<link
        href="{% static 'css/frontend/forgot_password.css' %}"
        rel="stylesheet"
        type="text/css"
/>
<link
        href="{% static 'css/frontend/base.css' %}"
        rel="stylesheet"
        type="text/css"
/>
<link
        href="{% static 'css/frontend/nav.css' %}"
        rel="stylesheet"
        type="text/css"
/>
{% endblock %}
<div id="parent" class="form">
    <h2 class="font-weight-bold mt-3 pwd-header">Check your inbox</h2>
    <hr>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
</div>
{% endblock %}
