{% extends "base.html"%} {% load crispy_forms_tags %} {% load static %}
{% block title %}Reset Password{% endblock %} {% block content %} {% block css %}
<link
        href="{% static 'css/frontend/forgot_password.css' %}"
        rel="stylesheet"
        type="text/css"
/>
<link
        href="{% static 'css/frontend/base.css' %}"
        rel="stylesheet"
        type="text/css"
/>
<link
        href="{% static 'css/frontend/nav.css' %}"
        rel="stylesheet"
        type="text/css"
/>
{% endblock %}
<div id="parent" class="form">
    <h2 class="font-weight-bold mt-3 pwd-header">Reset Password</h2>
    <hr>
    {% if user.is_authenticated %}
    <p>Hi {{user}} Password already reset.</p>
    {% else %}
    <form  method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary pwd-btn" type="submit">Reset Password</button>
    </form>
    {% endif %}

</div>
{% endblock %}
