{% extends "base.html"%} {% load crispy_forms_tags %} {% load static %}
{% block title %}Password Reset Complete{% endblock %} {% block content %} {% block css %}
<link
        href="{% static 'css/frontend/forgot_password.css' %}"
        rel="stylesheet"
        type="text/css"
/>
<link
        href="{% static 'css/frontend/base.css' %}"
        rel="stylesheet"
        type="text/css"
/>
<link
        href="{% static 'css/frontend/nav.css' %}"
        rel="stylesheet"
        type="text/css"
/>
{% endblock %}
<div id="parent" class="form">
    <h2 class="font-weight-bold mt-3 pwd-header">Password reset complete</h2>
    <hr>
    <p>Your new password has been set. You can Sign in now on the <a href="{% url 'signin' %}">Sign in page</a>.</p>
</div>
{% endblock %}
